h1, h2{
    text-transform: capitalize;
}

p {
color: darkblue;
}
body{
    margin: 0;
}

ul {
    list-style-type:none;
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: green;
    
}

li{
    float: left;
        
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;

}

li a:hover{
    background-color: #333;
    color: green;
}

 /*  
.active{
    background-color: #333;
}
*/

section{

    height: 100vh;
    margin-top: 0px;
    padding: 25px;
    padding-top: 40px;
    
    }


.clock{
    display: flex;

}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(79, 145, 145);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clock .text{
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(24, 85, 85, 0.8);
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: brown;
}
